.main__btn {
  background-color: #fd4f00;
  padding: 10px 29px;
  width: 290px;
  border-radius: 5px;

  &_title{
    color: #e3e3e3;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
  }
}
